.dropdown_menu {
    /* background-color: gainsboro ; */
    padding: 8px 0;
    border-radius: 4px;
    position: relative;
    width: 130px;
    /* z-index: 1; */
    cursor: pointer;
  }
  
  .dropdown_items {
    position: absolute;
    display: inline-block;
    padding: 10px;
    width: 200%;
    text-align: center;
    height: auto;
    top: 55px;
    left: -100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .dropdown_items:hover {
    background-color: rgb(212, 212, 212);
    color: rgb(86, 84, 84);
  
  }
  .dropdown_items > div {
    padding: 10px;
  }
  
  .profile_item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile_circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(168, 161, 161);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
  
  .user_name {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
  }

  .user_name_text_dark {

    color:#fff

  }

  .user_name_text_white {

    color: #333

  }
  .drop_down_bg_dark[data-reach-menu-list] {
    position: absolute;
    left: -90px;

    color:#fff;
    background-color: #333;

  }

  .drop_down_bg_white[data-reach-menu-list] {
    position: absolute;
    left: -100px;
    color: #333;
    background-color: #fff;


  }

  .menu_items[data-reach-menu-items] {
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    
  }

  .menu_items > *{
    padding-right: 8px;
    
  }

  .green_highlight[data-reach-menu-item][data-selected] {
    background: #00ED82;
  }

  .red_highlight[data-reach-menu-item][data-selected] {
    background: red;
  }

  .center_item[data-reach-menu-item] {
    display: inline-flex;
    align-items: center;
  }
  .center_item[data-reach-menu-item] > * {
    padding-right: 8px;
  }



  
  
