
.base_grid {
    display: flex;
   
  }


.base_price_btn {
    border: none;
    width: 280px;
    height: 50px;
    border-radius: 6px;
    color: #040404;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}

.base_category_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin: 20px 0;
}

.most_pop_indicator {
    width: 110px;
    height: 20px;
    border-radius: 30px;
    color: #040404;
    background-color: #00ed82;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    border: transparent;
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    .base_category_item {
      border-right:0.6px solid #ffffff99;
      border-top:0.6px solid #ffffff99;
      border-bottom:0.6px solid #ffffff99;
      padding: 55px;
    } 
  
  }

  @media (max-width: 425px) {
    
.base_price_btn {

  width: 200px;
  height: 50px;
}

    .base_category_item {
      padding: 20px 6px;
    }
  
  }


  