@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: white;
  background: black;
  overflow-x: hidden;

}

ul {
  list-style: none;
}

h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 48px;
  margin: 0 0 20px;
}

h3 {
  margin: 10px 0;
  font-size: 22px;
}

h4 {
  font-weight: 500;
  font-size: 14px;
}

h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #00ED82;
  letter-spacing: 0.6px;
  margin: 16px 0;
}

h6 {
  font-weight: 200;
  font-size: 14px;
  margin: 0;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slide-pane_from_bottom {
    height: 350px;
    bottom: 0;
    position: absolute;
    margin-top: 10vh;
}

.slider_list {
  overflow: visible;
}


@media (max-width: 1280px) {
  h1 {
    font-size: 32px;
  }
}



